<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="StyleCopeRules" Description="StyleCopeRules custom ruleset" ToolsVersion="15.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1101" Action="None" />
    <Rule Id="SA1200" Action="None" />
    <Rule Id="SA1633" Action="None" />
    <Rule Id="SA1652" Action="None" />
    <Rule Id="SA1502" Action="None" />
    <Rule Id="SA1501" Action="None" />
    <Rule Id="SA1119" Action="None" />
  </Rules>
</RuleSet>